<?xml version="1.0" encoding="UTF-8"?>
<root>
	<system_object key="0" value="org.jcommon.com.util.jmx.JmxManager" />
	<system_object key="1" value="org.jcommon.com.util.share.ShareManager" />
	<system_object key="2" value="org.jcommon.com.wechat.WechatSessionManager" />
	<system_object key="3" value="org.jcommon.com.wechat.test.WechatSessionTest" />
	<init_threads>500</init_threads>
	<version>20121111</version>
	<mbean_server>jcommon_wechat_server</mbean_server>
	<htmladapter user="admin" password="admin" port="10047" />
	<!--  <ShareObject rmi="rmiadapter" name="ShareObject" role="client" CREDENTIALS="ptsws" addr="127.0.0.1" port="10043" />-->
</root>